<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Prodavac" />
            <allow roles="Administrator" />
            <deny users="?" />
            <deny roles="Magacioner" />
        </authorization>
    </system.web>
</configuration>